@font-face {
    font-family: 'GT America Regular';
    src: url("fonts/FontsFree-Net-GT-America-Regular-1.ttf") format("opentype");
}

@font-face {
    font-family: 'Domaine Display Narrow';
    src: url("fonts/DomaineDispNar-Regular.otf") format("opentype");
}

* {
    margin: 0 auto;
    box-sizing: border-box;
}

html {
    box-sizing: border-box;
}

body {
    font-family: "GT America Regular", "Helvetica Neue", Arial, "Lucida Grande", sans-serif;
    letter-spacing: 0.4px;
    line-height: 1.8rem;
    font-weight: 300;
}

main {
    display: block;
}

.container-one {
    background: #fff8e6;
}

.fluid-container {
    max-width: 1312px;
    margin: 0 auto;
}

p {
    font-size: 22px;
}

h1 {
    font-family: 'Domaine Display Narrow';
    font-size: 74px;
    padding-bottom: 100px;
    text-align: center;
    line-height: 5rem;
}

/* Page Banner */
.page-banner {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    letter-spacing: 0.4px;
}

.page-banner p {
    font-size: 1.08rem;
}

.bold {
    font-weight: 600;
}

.underline {
    text-decoration: underline;
} 


/* Header */
.topbar {
    background: #fff8e6;
    margin-bottom: 20px;
}

.topbar__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 204px;
    margin: 0 auto;
    width: 87%;
    align-items: center;
}

.topbar__wordmark {
    margin: 0;
}

.topbar__wordmark-link {
    width: 245px;
}

.topbar__icon {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.gif {
    width: 70px;
    height: 60px;
}

.topbar__nav {
    display: flex;
    position: relative;
    margin: 0;
}

.bag, .dropdown {
    width: 50px;
    height: auto;
    padding-right: 10px;
}

/* Section one */
.section-one {
    display: grid;
    grid-template-columns: 1.7fr 1fr;
    grid-gap: 20px;
}

.section-one img {
    width: 100%;
}

.section-one__text {
    display: grid;
    grid-template-columns: 2fr 1fr;
    max-width: 750px;
    margin: 0 auto;
    padding: 40px 0px;
    font-size: 22px;
}

.section-one__text p {
    max-width: 400px;
}

.button__outline {
    background: none;
    border: 1px solid black;
    margin-left: 50px;
}

/* Section two */
.section-two__image {
    max-width: 545px;
    max-height: 545px;
}

.section-two__image img {
    width: 100%;
    padding-left: 26px;
}

.section-two {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 100px;   
    padding-bottom: 150px; 
}

.section-two__text h2 {
    font-family: 'Domaine Display Narrow';
    font-weight: 300;
    font-size: 48px;
    line-height: 54px;
    margin: 0;
}

.section-two__text {
    padding-left: 120px;
    padding-right: 80px;
    display: grid;
    align-content: space-between;
}

/* Section-three */
.section-three ol {
    list-style-image: url('images/image_73.png');
}

.section-three {
    display: grid;
    grid-template-columns: 550px 500px;
    font-weight: 500;
    font-size: 22px;
    align-self: center;
    justify-content: center;
    font-family: 'GT America Regular';
    padding-bottom: 100px;
}

.section-three img {
    width: 399px;
}
.section-three li {
    padding-bottom: 30px;
    padding-left: 25px;
}

/* Footer */
button {
    padding: 10px;
    width: 170px;
    border-radius: 20px;
    border-style: none;
    background-color: white;
    font-size: 20px;
    margin: auto;
    display: block;
    margin-bottom: 140px;
}

/* Screenshots */
.screenshot img {
    width: 100%;
}

.one {
    background: #fff8e6;
    margin-bottom: 20px;
}
